@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,700,900&display=swap');


.features {
    color: white;
    background: black;
    padding-bottom: 8%;
  }
  .features__container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 76%;
    max-width: 1550px;
  }
  .features__header {
    padding: 3% 0;
    text-align: center;
    font-weight: 400;
    margin: auto;
    width: 76%;
    max-width: 1550px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 38px;
    font-weight: 300;
  }
  .features__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    margin: 1%;
  }
  .featuresSection__imageContainer{
    margin-top: 17%;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
  
  }
  .featuresSection__image{
    width: 30px;
    margin: 35px;
  }
  .featuresSection__description{
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
  
  }
  .featuresSection__header{
    font-family: 'Montserrat', sans-serif;;
  }
  

.header {
    width: 100%;
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.header {
    width: 100%;
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    padding-bottom: 12%;
}
.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1550px;
}
.header__section {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 76%;
    max-width: 1550px;
}
.header__sectionDescription {
    color: white;
    padding-top: 4%;
}
.header__sectionImage {
    width: 72%;
    padding: 3% 2% 10% 2%;

    background: white;
    margin-top: 1%;
    margin-right: 50%;
    margin-left: 16%;
    transform: rotate(-6deg);
    border-radius: 3.5%;
}
.header-description__button {
    background-color: #25f18b;
    border-radius: 10px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 20px;
    padding: 16px 31px;
    text-decoration: none;
}
.header-description__information {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100%;
    max-width: 250px;
}
.header-description__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.info {
    display: flex;
  }
  .info__description {
    width: 32vw;
    padding-right: 16%;
    padding-top: 4%;
    padding-left: 4%;
  }
  .info__description--header{
    padding-top: 2%;
    text-align: center;
  font-family:  'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  }
  .info__description--description{
    padding-top: 2%;
    text-align: left;
  font-family:  'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;  
  }
  .info__image {
    width: 100%;
  }
  .info__imageContainer {
    width: 50vw;
    padding: 4%;
  }
  
  
  
  .logosContainer {
    display: flex;
    justify-content: space-around;
  }
  .logos {
    padding: 2% 0 2% 0;
    width: 45%;
  }



.nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 76%;
    max-width: 1550px;
}
.nav__anchor {
    text-decoration: none;
    color: white;
}
.nav__item {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: 100px;
    float: left;
}
.nav__list {
    padding-right: 1%;
    padding-top: 1%;
    list-style: none;
    display: flex;
    align-content: space-between;
}
.nav__logo {
    padding-top: 1.5%;
}
